/* ВАШІ СТИЛІ */
body {

    background-color: darkseagreen;
    font-size: 16px;
}
* {
    box-sizing: border-box;
  }
.box {
    background-color: darkolivegreen;
    padding: 50px;
    border-left: 8px solid darkgreen;
    font-size: 50;
  }

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: 2%;
}
button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: darkgreen;
}

.btn {
  padding: 20px 80px;
  background: darkgreen;
  border: 2px solid darkgreen;
  outline: none;
  border-radius: 8px;
  box-shadow: 0 0 40px darkgreen;
  font-size: 32px;
  color: black;
  letter-spacing: 1px;
  cursor: pointer;
}